/* What to consider when styling the page...
    Purple is her signature color.
    Words/feelings that the website should evoke out of it's users:
        Empowering, overcoming, transformational.
        Self discovery, rebirth, self acceptance.
        Love, compassion, kindness.
        This is a safe, empowering, gentle space.
*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

.centered {
    text-align: center;   
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-right {
    margin-right: auto;
}

.flex-left {
    margin-left: auto;
}

.purple-bkgd {
    background-color: rgb(94, 62, 94);
    color: #fefff3;
}

.line {
    background-color: rgb(63, 63, 63);
    margin: auto;
    width: 75%;
    height: 1px;
}

.linear {
    background-image: linear-gradient(rgba(80, 2, 170, 0.603), rgb(255, 253, 238), rgb(255, 253, 238));
}

.fade {
    background-image: linear-gradient(rgb(255, 253, 238), rgba(80, 2, 170, 0.342), rgba(80, 2, 170, 0.603));
    /*background-image: linear-gradient(rgb(255, 253, 238), rgb(252, 250, 239), rgba(130, 41, 165, 0.466));*/
}

/* SCROLL ANIMATION */

.aos {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 1s ease-out; 
}
    
.aos.active {
    top: 10px;
    opacity: 1;
    background-color: transparent;
    transform: translateY(-20px);
    transition: .8s ease-in;
}

/* Section classes */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid black;
    background-color: #fefff3;
    font-size: 20px;
}

.nav-logo {
    font-size: 35px;
}

.nav a {
    text-decoration: none;
    color: black;
}
.nav a:hover {
    color: grey;
}

.nav-items {
    list-style-type: none;
}
.nav-items .item {
    display: inline-block;
    padding: 20px 10px;
}

.mobile-nav {
    display: none;
}

/* The mobile dropdown & side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    top: 0;
    right: 0;
    background-color: #fefff3;
    cursor: pointer;
    text-align: center;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .dropbtn {
    opacity: 1;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 15px;
    display: inline-block;
    padding: 1%;
    background: transparent;
    color: rgb(63, 63, 63);
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    border: none;
}

  .trigger-menu img:hover {
    transform: rotate(45deg);
    transition: transform 0.4s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 10px 10px 28px;
    margin: auto;
    text-decoration: none;
    font-size: 24px;
    color: rgb(63, 63, 63);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }

  .msmadi {
      font-family: 'ms madi', cursive;
      color: inherit;
  }

  /* End of navigation styling */
.welcome {
    background-color: #fefff3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .welcome h1 {
        font-size: 38px;
    }
    .welcome p {
        font-size: 32px;
    }

.header-img {
    height: 90vh;
    width: auto;
    background-image: url(/images/quino-al-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
}

.header-text p {
    color: white;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    padding: 16% 12%;
    font-size: 55px;
    font-family: 'ms madi', cursive;
}

/* --------- About section --------- */
.about {
    padding-top: 5%;
    padding-bottom: 5%;
    flex-direction: row;
    background-image: linear-gradient(rgb(255, 253, 238), rgba(130, 41, 165, 0.459));
}
.about-img {
    margin-left: 8%;
    padding: 15%;
    text-align: center;
    background-color: #fefff3;
    border-radius: 2px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.about-text {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
}
.about-text h2 {
    text-align: center;
}
.about-text p {
    text-align: left;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* --------- Services --------- */
.fadeService {
    background-image: linear-gradient(rgba(130, 41, 165, 0.466), rgb(255, 253, 238), rgb(252, 250, 239));
}

.services {
    background-color: rgba(53, 36, 61, 0.267);
    background-image: url('/images2/dollar-gill-unsplash.jpg'); /*url('/marek-piwnicki-unsplash.jpg');*/
    background-size: cover;
    background-position: auto;
    background-blend-mode: overlay;
    padding: 10% 0;
    color: rgb(63, 63, 63);
}
.services h1 {
    padding-top: 5%;
    padding-bottom: 5%;
}
.coaching {
    flex-direction: row;
    padding-left: 8%;
    padding-right: 8%;
}
.service-left {
    margin-right: auto;
}
.service-right {
    margin-left: auto;
}

.services ul li {
    list-style-type: none;
}

/* coach cards */
.card {
    padding: 5%;
    line-height: 1.6rem;
    background-color: /*rgb(241, 241, 250);*/ rgba(246, 230, 250, 0.733);
    color: black;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
  
  .card:hover, .card:focus {
      transform: translateY(-20px);
      transition: 1s ease-in-out;
      box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.2), 0 30px 20px -5px rgba(0, 0, 0, 0.2);
  }

.bookBtn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    border-radius: 5px;
    width: 125px;
    height: 26px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.938); /*transparent rgba(246, 230, 250, 0.733)*/
    color: #fefff3;
    margin-top: 3%;
}
    .bookBtn:hover {
        background-color: rgb(2, 158, 2);
    }

/* --------- Reviews ----------*/

.reviews-1 {
    background-color: #fefff3;
    color: rgb(63, 63, 63);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3%;
}

    
.reviews-2 {
    background-color: #fefff3;
    color: rgb(63, 63, 63);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}
    
    

.reviews {
    flex-direction: column;
    background-color: #fefff3;
    background-image: linear-gradient(rgb(255, 253, 238), rgba(130, 41, 165, 0.137));
    width: 100%;
    color: rgb(63, 63, 63);
}

.profile-small {
    max-width: 6rem;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.side-padding {
    padding-left: 10%;
    padding-right: 10%;
}

/* --------- Coming Soon --------- */
.coming-soon {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    flex-direction: column;
}
.coming-soon h1 {
    padding-bottom: 2%;
    font-size: 32px;
}
.coming-soon p {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    margin: auto;
    flex-wrap: wrap;
}

/* Form CSS for coming soon */


.form {
    padding-bottom: 8%;
  }

  input, textarea {
    border: 1px solid #fefff3;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid lavenderblush;
    border-radius: 5px;
  }
  
  textarea {
    min-height: 7em;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input, .button-solid {
    width: 30%;
    max-width: 250px;
    margin-top:1rem;
    padding: 0.8em;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .email-signup input:hover, .button-solid:hover {
    transform: translateY(-3px);
    transition: .2s ease-in-out;
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.2), 0 30px 20px -5px rgba(0, 0, 0, 0.2);
}
  
  .button-solid {
    background-color: green;
    color: #fefff3;
    text-decoration: none;
    border: 2px solid green;
    }


/* contact */
.contact {
   background-image: linear-gradient(rgb(255, 253, 238), rgba(130, 41, 165, 0.137));
}


/* --------- Promise --------- */
.promise {
    background-color: rgba(51, 50, 51, 0.397);
    background-image: url('/images2/marek-piwnicki-unsplash.jpg'); /*url('/marek-piwnicki-unsplash.jpg');*/
    background-size: cover;
    height: 80vh;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fefff3;
}
    .promise h2 {
        padding-bottom: 5%;
        text-align: center;
    }
    .promise p {
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }

/* -------- Footer ---------- */

.footer {
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: #fefff3;
    font-family: 'ms madi', cursive;
    font-size: 22px;
    background-image: linear-gradient(rgba(80, 2, 170, 0.336), rgb(255, 253, 238), rgb(255, 253, 238));
}
.footer p {
    border-top: 1px solid black;
}
.footer-a {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
    cursor: pointer;
}
    .footer-a:hover {
        color: rgb(63, 63, 63);
        border-bottom: 1px solid rgb(63, 63, 63);
    }

/* -------- MEDIA QUERIES ---------- */

@media (max-width:625px) {

/* mobile nav menu */

.mobile-hide {
    display: none;
}
.mobile-nav {
    display: block;
}
.menu-line {
    width: 20px;
    height: 3px;
    background-color: rgb(63, 63, 63);
    margin-bottom: 4px;
}

/* mobile header */

.header-img {
    background-position: bottom;
    height: 30vh;
}

.header-text {
    color: #fefff3;
    display: flex;
    justify-content: center;
    /*padding-top: 8%;
    padding-bottom: 8%;*/
    font-size: 25px;
}

/* mobile about */
.about {
    flex-direction: column;
}

.about-img {
    margin: auto;
    height: 300px;
    width: 200px;
    text-align: center;
}

.about-text h2 {
    padding-top: 5%;
}

/* mobile services */
.coaching {
    flex-direction: column;
}
.service-left, .service-right {
    margin: auto;
    padding: 5%;
}
.service-left {
    margin-bottom: 8%;
}
.services {
    background-position: right;
    height: auto;
}

/* Mobile cards */
.card {
    padding-bottom: 6%;
}

/* Mobile Coming Soon Form */


  .email-signup input {
    width: 250px;
    /*max-width: 80%;*/
  }

  .button-solid {
    border-left: 1px solid green;
    border-right: 1px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    width: 250px;
  }

  .contact {
    text-align: center;
  }
  .form {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coming-soon {
      padding-top: 10%;
      padding-bottom: 12%;
  }


/* mobile promise */
.promise {
    padding-top: 8%;
    padding-bottom: 8%;
}


}