/* What to consider when styling the page...
    Purple is her signature color.
    Words/feelings that the website should evoke out of it's users:
        Empowering, overcoming, transformational.
        Self discovery, rebirth, self acceptance.
        Love, compassion, kindness.
        This is a safe, empowering, gentle space.
*/
* {
    padding: 0;
    margin: 0;
}

/* Section classes */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border: 2px solid black;
}

.mobile-nav {
    display: none;
}

.header

.header-img

.header-text

.footer {
    padding: 5%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}